/* Custom styles */
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.svg-editor-container {
    height: 300px;
    width: 100%;
    /*resize: vertical;*/
    overflow: auto;
    padding: 0;
}

.container-outline {
    border: 1px solid oklch(var(--b3));
    border-radius: 0.5rem; /* Rounded corners */
}

.svg-editor {
    width: 100%;
    height: 100%;
}

.path-item {
    margin-bottom: 0.5rem;
}

.container {
    margin: 0 auto;
    padding: 1rem;
}

/* SVG Preview Styling */
#svg-preview {
    height: 230px;
    overflow: auto;
    resize: vertical;
}

#svg-preview svg {
    width: 100%;
    height: auto;
    max-height: 100%;
}